@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root{
    --white-clr:#fff;
    --bg-purple:#23212e;
    --txt-purple:#908fa5;
    --primary-purple:#9984ee;
    --secondary-purple:#6f4ef4;
}

.product-container {
    background: var(--bg-purple);
    min-height: 100vh;
    padding-inline: 6rem;
    isolation: isolate;
}

.navbar{
    height: 13vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navlist{
    display: flex;
    gap: 3rem;
}

.hero-section{
    height: calc(100vh - 13vh);
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.image-container{
    width: 40rem;
    position: relative;
}


.image-container img{
    max-width: 100%;
    height: auto;
}

.line{
    background: var(--white-clr);
    width: 2.5rem;
    height: .21rem;
    margin: .35rem;
    border-radius: 2rem;
}

.hamburger{
    cursor: pointer;
    display: none;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

.logo {
    font-size: 1.5rem;
    color: var(--primary-purple);
    font-weight: 700;
}

.logo span{
    color: white;
}

.links{
    color: var(--txt-purple);
}

button{
    background: linear-gradient(45deg, var(--white-clr), var(--secondary-purple));
    border: none;
    color: var(--white-clr);
    padding: .8rem 2rem;
    border-radius: 5rem;
    font-size: 1rem;
}

.content{
    max-width: 550px;
}

.content h1{
    font-size: 4rem;
    background: linear-gradient(45deg, var(--white-clr),var(--primary-purple));
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.content p{
    color: var(--txt-purple);
    font-size: 1rem;
    margin: 1rem 0 2rem 0;
    text-wrap: balance;
}

.image-container::before{
    content: '';
    background: var(--primary-purple);
    width: 25rem;
    aspect-ratio: 1;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: blur(160px);
    z-index: -1;

}

.image-container::after{
    content: '';
    position: absolute;
    width: 20rem;
    aspect-ratio: 1;
    background: var(--primary-purple);
    border-radius: 50%;
    right: 0;
    top: -15%;
    z-index: -1;
}

@media screen and (max-width:680px) {
    .navlist{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: var(--secondary-purple);
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 17rem;
        z-index: 5;
        transform: translateX(-100%);
        transition: transform .5s ease-in-out;
    }

    .navlist-active{
        transform: translateX(0%); 
    }

    .logo{
        z-index: 6;
    }

    .links{
        color: var(--white-clr);
    }

    .navbar button{
        display: none;
    }

    .hamburger{
        display: block;
    }

    .product-container{
        padding-inline: 2rem;
    }

    .hero-section{
        flex-direction: column;
    }

    .content h1{
        font-size: 3.2rem;
    }

    .content{
        margin-top: 3rem;
    }

    .image-container{
        width: 25rem;
    }

    .image-container::after{
        width: 12rem;
    }

    .image-container::before{
        width: 15rem;
    }
}